<nav class="navbar navbar-secondary bg-secondary">
  <span class="navbar-brand mb-0 h1">
    <img src="https://i.ebayimg.com/images/g/R5MAAOSwxF5ihXkU/s-l500.png" width="40" height="40" class="d-inline-block align-top" alt="">
  </span>
  <span class="navbar-brand mb-1 h3">SPOTIFLY</span>
</nav>

<br>
  <h2>Top das baladas nacionais</h2>
<br>

<div class="container">
  <form [formGroup]="form">
   <h4>Nos diga seu Artista favorito!</h4>
    <div>
      <label for="nome">Artista/Banda</label>
      <input type="text" class="form-control" formControlName="nome" id="nome">
    </div>

    <div>
      <label for="musica">Música Favorita</label>
      <input type="text" class="form-control" formControlName="musica" id="musica">
    </div>

    <button type="submit" class="btn btn-primary" (click)="obter()">Submit</button>
  </form>
</div>

<br>

<div class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>

        <th scope="col">Artista/Banda</th>
        <th scope="col">Música</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bandas of banda">

        <td>{{bandas.nome}}</td>
        <td>{{bandas.musica}}</td>

      </tr>

    </tbody>
  </table>
</div>

